%main
  %article
    %h1 VimChi

    %p
      This meetup is for users of vim and those who'd like to use vim. Vim is a
      cross-platform text editor that focuses on speed and efficiency of editing
      text. It's highly extensible via the use of plugins to support complex textual
      transformations with minimal effort and programming in most every language out
      there.

    %p
      Come join us and learn how to edit text more efficiently!

    %h2 About our sponsor:

    %p
      Hashrocket is a team of
      %a(href="https://hashrocket.com") expert Ruby on Rails developers
      who use Vim on a daily basis. Hashrocket specializes in top-tier design &amp;
      development using
      = succeed ',' do
        %a(href="https://hashrocket.com/blog/tags/rails") Ruby on Rails
      = succeed ',' do
        %a(href="https://hashrocket.com/blog/categories/elixir") Elixir
      = succeed ',' do
        %a(href="https://hashrocket.com/blog/categories/elixir") Phoenix
      = succeed ',' do
        %a(href="https://hashrocket.com/blog/categories/mobile") iOS
      = succeed ',' do
        %a(href="https://hashrocket.com/blog/categories/mobile") Android
      = succeed ',' do
        %a(href="https://hashrocket.com/blog/categories/ember") Ember.js
      React.js,
      = succeed ',' do
        %a(href="https://hashrocket.com/blog/categories/postgres") PostgreSQL
      Go, Clojure, and more.
      %a(href="https://hashrocket.com/contact-us/hire-us") Hire Hashrocket today for your project!

    %p
      Are you passionate about creating beautiful apps?
      %a(href="https://hashrocket.com/contact-us/jobs") Join the Hashrocket team!

    %a(class='partner' href='http://www.oreilly.com/pub/cpc/77138')
      %img(src='http://www.oreilly.com/partner_file/orm_partner_100x100.png')
