%main
  %article
    %h1= link_to 'VimChi', 'http://www.meetup.com/Vim-Chicago/'
    %p= link_to 'Meetup', 'http://www.meetup.com/Vim-Chicago/'
    %p= link_to 'Twitter', 'https://twitter.com/vimchi'
    %p= link_to 'Source', 'https://github.com/jwworth/vimchi.com'
    %p= link_to 'About Us', '/about.html'

    %p
      sponsored by
      = link_to 'Hashrocket', 'http://hashrocket.com'

    %p.lower
      \:read http://vimchi.com/vim-tutorial.txt
